<ion-header>
  <ion-toolbar>
    <ion-title>LOGIN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
      |<h1> Ingresar </h1>
        <img src="../../assets/icon/luna.png" alt="">
      <ion-item>
          <ion-input type="email" placeholder="Correo electronico"></ion-input>
      </ion-item>
  
      <ion-item>
          <ion-input type="password" placeholder="Contraseña"></ion-input>
      </ion-item>

      <ion-item>
        <ion-button href="/app/tabs/tab1" shape="round"  expand="full" >Aceptar</ion-button>
      </ion-item>
</ion-content>
